{% load static %}
<html>
	<head>
		<title>File Explorer</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>

		<link rel="stylesheet" href="{% static 'jstree/themes/default/style.min.css' %}" />
		<link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
  		<script src="{% static 'jstree/jstree.min.js' %}"></script>
	</head>
	<body>
		<div class="container-fx">
			<div class="row">
				<div class="col-md-4 tree_panel">
					<div id="jstree"></div>
				</div>
				<div class="col-md-8 data_table">
					<div class="row">
						<div class="col-md-6" id="total_list_size">Total List Size: 0</div>
						<div class="col-md-6" id="total_size">Total Size: 0</div>
					</div>
					<table
						id="eventsTable"
					   	data-toggle="table">
					    <thead>
					      	<tr>
        						<th ></th>
								<th data-field="icon">icon</th>
								<th data-field="filename">filename</th>
								<th data-field="size">size</th>
								<th data-field="type">type</th>
								<th data-field="last modified">last modified</th>
					      	</tr>
					    </thead>
					    <tbody>
					    </tbody>
				  	</table>
				</div>
			</div>
		</div>
		<script>
			$(function () {
				var total_size = 0;
				var total_list_size = 0;
				var checkedRows = [];
				var current_sel_tree;

				function display_rpanel(result) {
					$.each(result, function(key, value) {
						$("<tr />")
							.append(
								$('<td/>', {
									class: 'bs-checkbox'
								})
								.append(
									$("<input/>", {
										type: 'checkbox',
										name: 'btSelectItem',
										id: function () { return value['id'] = value['id'].replace("tree", "check")},
										style: 'margin-top: 10px !important;',
										dataIndex: key,
										checked: function() {
											if (value['selected'] != false){
												return true;
											}
											else {
												var tmp_id = value['id'].replace("check", "tree");
												if ($.inArray(tmp_id, checkedRows) != -1){
													return true;
												}
												else {
													return false;
												}
											}
										},
										click: function() {
											var tmp_check = value['id'].replace("check", "tree");

											$.jstree.reference('#jstree').check_node(tmp_check);

											if ($(this).is(':checked')) {
												if($.isNumeric(value['size']))
													total_size += parseInt(value['size']);
											}
											else {
												if($.isNumeric(value['size']))
													total_size -= parseInt(value['size']);
											}
											$("#total_size").html("Total Size: " + total_size);
										}
									})
								)
							)
							.append(
								$("<td />")
								.append(
									$("<img/>", {
										src: value['icon'],
										name: "icon",
										style: "width: 3rem;"
									})
								)
							)
							.append(
								$("<td />").html(value['filename'])
							)
							.append(
								$("<td />").html(value['size'])
							)
							.append(
								$("<td />").html(value['type'])
							)
							.append(
								$("<td />").html(value['last modified'])
							)
							.appendTo("#eventsTable tbody");
					});
				}

				$('#jstree')
					.jstree({
					  	"core" : {
						    "animation" : 0,
						    "check_callback" : true,
						    "themes" : { "stripes" : true },
						    "data" : {
						      	'url' : function (node) {
							        return node.id === '#' ?
						          		'{% url "get_roots" %}' : '{% url "get_children" %}?id='+node.id;
						      	}
						    }
					  	},
						"checkbox" : {
							"keep_selected_style" : false,
					      	"whole_node" : false,
					      	"tie_selection" : false,
							"three_state" : true
						},
						"plugins" : [ "checkbox" ]
					})
					.on('select_node.jstree', function (e, data) {
						var checked_state = false;

						current_sel_tree = data.node.id;
						$("#eventsTable tbody").empty();
						total_size = 0;

						if ($.inArray(data.node.id, checkedRows) != -1)
							checked_state = true;

						$.ajax({
							url: '{% url "get_listdata" %}?checked=' + checked_state + '&node_id=' + data.node.id,
							success: function(result){
								display_rpanel(result);

								$('#eventsTable tbody tr input[type=checkbox]').click(function(event) {
							        if (event.target.type !== 'checkbox') {
							            $(':checkbox', this).trigger('click');
							        }
							    });

							  	$('#eventsTable tbody tr').click(function(event) {
								    if (event.target.type !== 'checkbox') {
								      $(':checkbox', this).trigger('click');
								    }
							  	});
					    	}
						});
				})
				.on('loaded.jstree', function() {
					$.jstree.reference('#jstree').select_node('tree-');
					current_sel_tree = "tree-";
				})
				.on("check_node.jstree uncheck_node.jstree", function(e, data) {
					total_list_size = 0;
					var check_list = $("#jstree").jstree("get_checked", true);
					var check_triger_id = data.node.id.replace("tree", "check");
					var check_status = data.node.state.checked;
					checkedRows = [];
					$("#" + check_triger_id).trigger("click");

					if(check_list.length) {
						$.each(check_list, function(key, value) {
							checkedRows.push(value.id);
							$.ajax({
								url: '{% url "get_listdata" %}?checked=true&node_id=' + value.id,
								success: function(result){
								  	$.each(result, function(key, value) {
										checkedRows.push(value['id']);
										if($.isNumeric(value['size']))
										{
											total_list_size += parseInt(value['size']);
										}
									});
									$("#total_list_size").html("Total List Size: " + total_list_size);
								}
							});
						});
					}
					else {
						$("#total_list_size").html("Total List Size: " + total_list_size);
					}

					if(current_sel_tree == data.node.id) {
						$("#eventsTable tbody").empty();
						$.ajax({
							url: '{% url "get_listdata" %}?checked=' + check_status + '&node_id=' + current_sel_tree,
							success: function(result){
								display_rpanel(result);
							}
						});
					}
				})
			});
		</script>
	</body>
</html>
