{% load static %}
<html>
	<head>
		<title>File Explorer</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>

		<link rel="stylesheet" href="{% static 'jstree/themes/default/style.min.css' %}" />
		<link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
  		<script src="{% static 'jstree/jstree.min.js' %}"></script>
	</head>
	<body>
		<div class="loading-container">
		    <div class="loading"></div>
		    <div id="loading-text">loading</div>
		</div>
		<div class="container-fx main_content" style="display:none;">
			<div class="row">
				<div class="col-md-4 tree_panel">
					<div id="jstree"></div>
				</div>
				<div class="col-md-8 data_table">
					<table
						id="eventsTable"
					   	data-toggle="table">
					    <thead>
					      	<tr>
        						<th ></th>
								<th data-field="icon">icon</th>
								<th data-field="filename">filename</th>
								<th data-field="size">size</th>
								<th data-field="type">type</th>
								<th data-field="last modified">last modified</th>
					      	</tr>
					    </thead>
					    <tbody>
					    </tbody>
				  	</table>
				</div>
			</div>
			<div class="row" style = "margin-top: 20px;">
				<div class="col-md-4 sel_files">
					<span id="total_files_size">Total Size: 0</span>
					<span id="total_files_cnt">Total files: 0</span>
				</div>
				<div class="col-md-4 sel_files">
					<span id="selected_file_size">Selected file Size: 0</span>
					<span id="selected_files">Selected files: 0</span>
				</div>
				<div class="col-md-4" id="total_size">
					<button type="button" class="btn btn-primary sub_btn">Submit</button>
				</div>
			</div>
		</div>
		<script>
			$(function () {
				var file_sel_size = 0;
				var file_sel_cnt = 0;
				var size_total = 0;
				var cnt_total = 0;
				var checkedRows = [];
				var checked_submit = [];
				var current_sel_tree;
				var all_file_info = [];
				var file_rpanecheck = [];

				function get_checked(value) {
					if (value['selected']){
						return true;
					}
					else {
						var tmp_id = value['id'].replace("check", "tree");
						if ($.inArray(tmp_id, checkedRows) != -1){
							return true;
						}
						else {
							return false;
						}
					}
				}

				function change_tr_setting(value) {
					var ico_id = value['id'].replace("check", "check_icon");
					var tr_id = value['id'].replace("check", "tr_icon");
					var is_checked = value['selected'];
					var css_setting = is_checked ? {'color': 'white', 'background-color': '#418bca'} : {'color': 'black', 'background-color': 'white'};

					$("#" + ico_id)
						.removeClass()
						.addClass( function () {
							return is_checked ? 'state-icon glyphicon glyphicon-check' : 'state-icon glyphicon glyphicon-unchecked';
						});

					$("#" + tr_id)
						.css(css_setting);
				}

				function get_exact_filesize(fsize) {
					if(fsize == 0)
						return fsize;
					if(fsize < 1024)
						return fsize.toFixed(3) + "B";
					fsize = fsize / 1024;
					if(fsize < 1024)
						return fsize.toFixed(3) + "KB";
					fsize = fsize / 1024;
					if(fsize < 1024)
						return fsize.toFixed(3) + "MB";
					return (fsize / 1024).toFixed(3) + "GB";
				}

				function display_rpanel(result) {
					$.each(result, function(key, value) {
						$("<tr />", {
							id: function () { return value['id'].replace("tree", "tr_icon")}
						})
							.append(
								$('<td/>', {
									class: 'bs-checkbox'
								})
								.append(
									$("<span/>", {
										class: 'state-icon glyphicon glyphicon-unchecked',
										id: function () { return value['id'].replace("tree", "check_icon")}
									})
								)
								.append(
									$("<input/>", {
										type: 'checkbox',
										name: 'btSelectItem',
										class: 'hidden',
										id: function () { return value['id'] = value['id'].replace("tree", "check")},
										style: 'margin-top: 10px !important;',
										dataIndex: key,
										checked: function () {
											return value['selected'] = get_checked(value)
										},
										click: function() {
											value['selected']= !value['selected'];
											var tmp_check = value['id'].replace("check", "tree");
											change_tr_setting(value);

											if(value['type'] != "Directory"){
												if( value['selected'] ) {
													file_rpanecheck.push(tmp_check);
													checkedRows.push(tmp_check);
													file_sel_size += parseInt(value['size']);
													file_sel_cnt ++;
												}
												else {
													var ind = file_rpanecheck.indexOf(tmp_check);

													file_rpanecheck.splice(ind, 1);
													ind = checkedRows.indexOf(tmp_check);
													checkedRows.splice(ind, 1);
													file_sel_size -= parseInt(value['size']);
													file_sel_cnt --;
												}
												$("#selected_file_size").html("Selected file size: " + get_exact_filesize(file_sel_size));
												$("#selected_files").html("Selected files: " + file_sel_cnt);
											}

											if( value['selected'] ) {
												$.jstree.reference('#jstree').check_node(tmp_check);
											}
											else {
												$.jstree.reference('#jstree').uncheck_node(tmp_check);
											}
										}
									})
								)
							)
							.append(
								$("<td />")
								.append(
									$("<img/>", {
										src: value['icon'],
										name: "icon",
										style: "width: 3rem;"
									})
								)
							)
							.append(
								$("<td />").html(value['filename'])
							)
							.append(
								$("<td />").html(value['size'])
							)
							.append(
								$("<td />").html(value['type'])
							)
							.append(
								$("<td />").html(value['last modified'])
							)
							.appendTo("#eventsTable tbody");
						change_tr_setting(value);
					});

				}

				function get_data_display(checked_state, node_id) {
					$.ajax({
						url: '{% url "get_listdata" %}?checked=' + checked_state + '&node_id=' + node_id,
						success: function(result){
							$("#eventsTable tbody").empty();
							display_rpanel(result);

							$('#eventsTable tbody tr input[type=checkbox]').click(function(event) {
								if (event.target.type !== 'checkbox') {
									$(':checkbox', this).trigger('click');
								}
							});

							$('#eventsTable tbody tr').click(function(event) {
								if (event.target.type !== 'checkbox') {
									$(':checkbox', this).trigger('click');
								}
							});
						}
					});
				}

				$('.sub_btn').click( function() {
					var sub_array=[];
					var req_array=[];

					for (var i = 0; i < all_file_info.length; i ++) {
						if (all_file_info[i]['type'] != 'Directory')
							sub_array.push(all_file_info[i]);
					}

					for ( var i = 0; i < sub_array.length; i ++) {
						if ($.inArray(sub_array[i]['id'], checkedRows) != -1){
							req_array.push(sub_array[i]['id']);
						}
					}

					$('.loading-container').css('display', 'show');
					$('.main_content').css('display', 'none');
					$.ajax({
					   type: "POST",
					   data: {sel_info:req_array},
					   url: '{% url "usersel_json_file" %}',
					   success: function(response){
		   					$('.loading-container').css('display', 'none');
		   					$('.main_content').css('display', 'show');
					     	alert(response);
					   }
					});
				});

				$('#jstree')
					.jstree({
					  	"core" : {
						    "animation" : 0,
						    "check_callback" : true,
						    "themes" : { "stripes" : true },
						    "data" : {
						      	'url' : function (node) {
							        return node.id === '#' ?
						          		'{% url "get_roots" %}' : '{% url "get_children" %}?id='+node.id;
						      	},
						    }
					  	},
						"checkbox" : {
							"keep_selected_style" : false,
					      	"whole_node" : false,
					      	"tie_selection" : false,
							"three_state" : true
						},
						"plugins" : [ "checkbox" ]
					})
					.on('select_node.jstree', function (e, data) {
						var checked_state = false;
						data.instance.toggle_node(data.node);
						current_sel_tree = data.node.id;
						$("#eventsTable tbody").empty();
						file_rpanecheck = [];
						get_data_display(checked_state, data.node.id);
				})
				.on('loaded.jstree', function() {
					$.jstree.reference('#jstree').select_node('tree-');
					size_total = 0;
					cnt_total = 0;
					current_sel_tree = "tree-";
					$('.loading-container').css('display', 'show');
					$('.main_content').css('display', 'none');
					$.ajax({
						url: '{% url "get_whole_structure" %}?node_id=tree-',
						success: function(result){
							$('.loading-container').css('display', 'none');
							$('.main_content').css('display', 'show');
							all_file_info = result;
							$.each(result, function(key, value) {
								if (value['id'] == current_sel_tree)
									size_total = value['size'];
								cnt_total += value['file_cnt'];
							});
							$("#total_files_size").html("Total size: " + get_exact_filesize(size_total));
							$("#total_files_cnt").html("Totla files: " + cnt_total);
						}
					});
				})
				.on("check_node.jstree uncheck_node.jstree", function(e, data) {
					var check_list = $("#jstree").jstree("get_checked", true);
					var check_triger_id = data.node.id.replace("tree", "check");
					var check_status = data.node.state.checked;
					var get_rpanl_checked=$("#" + check_triger_id).is(":checked");

					file_sel_size = 0;
					file_sel_cnt = 0;
					checkedRows = [];
					checked_submit = [];

					for (var i = 0; i < check_list.length; i ++) {
						var flag = false;
						for(var j = 0 ; j < check_list.length; j ++)
						{
							if(check_list[j]['id'] == check_list[i]['parent'])
							{
								flag = true;
								break;
							}
						}
						if(!flag){
							checked_submit.push(check_list[i]['id']);
							file_sel_size += parseInt(all_file_info.find(ele=> ele.id == check_list[i]['id']).size);
						}
					}

					for ( var i = 0; i < all_file_info.length; i ++) {
						for ( var j = 0; j < checked_submit.length; j ++) {
							if (all_file_info[i]['id'].includes(checked_submit[j])){
								checkedRows.push(all_file_info[i]['id']);
								file_sel_cnt += all_file_info[i]['file_cnt'];
							}
						}
					}

					if(data.node.state.checked != get_rpanl_checked)
						$("#" + check_triger_id).trigger("click");

					$("#selected_file_size").html("Selected file size: " + get_exact_filesize(file_sel_size));
					$("#selected_files").html("Selected files: " + file_sel_cnt);

					if(current_sel_tree == data.node.id) {
						get_data_display(check_status, data.node.id);
					}
				})
			});
		</script>
	</body>
</html>
