body {
	background-color: #CECECE !important;
}

.main_body {
	width: 98%;
    height: 100%;
    margin: auto;
    background-color: #CECECE;
    padding-top: 30px;
    padding-left: 30px;
}

.tree_panel {
    height: 90%;
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    background: white;
    overflow: auto;
}

.data_table {
	background-color: white;
    height: 90%;
}

#total_size {
	text-align: center;
	font-size: 30px;
}

#total_list_size {
	text-align: center;
	margin-left: -50px;
	font-size: 30px;
}

.state-icon {
	margin-top: 3px !important;
}

.table tbody tr:hover {
	cursor: pointer !important;
}

.jstree-default .jstree-clicked {
  background: #418bca !important;
}

.table tbody td img {
    margin-top: -0.3rem;
}

.jstree-no-children > i {
}

.sel_files {
	padding-left: 2%;
}

.sel_files span {
	display: block;
	font-size: 20px;
}
