body {
	background-color: #CECECE !important;
}

.main_body {
	width: 98%;
    height: 100%;
    margin: auto;
    background-color: #CECECE;
    padding-top: 30px;
    padding-left: 30px;
}

.tree_panel {
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    background: white;
    overflow: auto;
}

.data_table {
	background-color: white;
    height: 100%;
}

#total_size {
	text-align: center;
	font-size: 30px;
}

#total_list_size {
	text-align: center;
	margin-left: -50px;
	font-size: 30px;
}

.bootstrap-table {
    height: 90%;
}
